div{
	margin: 20px 10px;
}
a{
	font-size: 30px;
	font-family: Arial;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-left: 50px;
}
.block_item{
	
	border-radius: 4px;
	height: 50px;
	width: 50px;
	background-color: lightgreen;

}

.block1{
	display: flex;
	align-items: flex-start;
}




.block_item2{
	height: 100px;
}


.block2{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.block_item5{
	height: 100px;
}
.block_item6{
	height: 80px;
}

.block3{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.block_item8{
	height: 100px;
}
.block_item9{
	height: 80px;
}


.block___1{
	display: flex;
	justify-content: space-around;
	justify-content: left;
}
.block___2{
	display: flex;
	justify-content: center;
}
.block___3{
	display: flex;
	justify-content: left;
}