p:first-letter
{
	font-size: 2pin;
	color: orange;
}
p:first-line
{
	font-size: 15px;
	color: grey;
}
.cpr p:nth-child(2):after
{
	content: "new";
	color:green;
	font-size: 12pt;
}
.after p:nth-child(7):after
{
	content: "old";
	color: red;
	font-size: 12pt;

