/*smartphones vertical*/
@media (max-width: 400px){


	td,th{
		border: 1px solid grey;
	}


	tr:nth-last-child(-n+3) {
		display: none;
	}
	td:nth-last-child(-n+3) {
		display: none;
	}

	body{	
	font-size: 50%;
	}

	ul{
		float: left;
	}
	li:nth-last-child(-n+2) {
		display: none;
	}
	li{
		display: inline-block;
	}


	table {
	  float: center;
	  border: 1px solid grey;
	  width: 100px;
	  height: 100px;
	}


	
}

/*ipads*/
@media only screen and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape){
	
	td,th{
		border: 1px solid grey;
	}


	tr:nth-last-child(-n+1) {
		display: none;
	}
	td:nth-last-child(-n+1) {
		display: none;
	}

	body{	
	font-size: 100%;
	}

	ul{
		float: left;
	}



	table {
	  float: right;
	  border: 1px solid grey;
	  width: 300px;
	  height: 300px;
}

}



/*big screen*/
@media only screen and (min-width: 1824px){
	
	body{	
		font-size: 600%;
	}


	a {
	    text-decoration: none; 
	}

	ul{
		float: right;
	}

	li{
		display: inline-block;
	}


	td,th{
		border: 1px solid grey;
	}

	table {
	  border: 1px solid grey;
	  width: 1000px;
	  height: 1000px;
	}


}

/*table pc`s*/
@media only screen and (min-width: 1224px) and (max-width: 1823px){
	
	body{
		font-size: 480%;
	}

	ul{
		float: left;
	}

	li{
		display: inline-block;
	}

	td,th{
		border: 1px solid grey;
	}

	table {
	  border: 1px solid grey;
	  width: 800px;
	  height: 800px;
	}


}