.page{
	background-color: gray;
	display: grid;
	grid-template-columns: 300px 1fr 200px ;
	grid-template-rows: 100px 450px 100px 150px;

}
.page>div{
	padding: 20px;
	font-family: Arial;
	line-height: 25px;
	
}


.header{
	background:yellow;
	grid-column: span 3;

}

.navigation{
	background:#C1EBEF;
	grid-column: span 1;
}

.content{
	background: #CFFBFF;
	grid-column: span 1;
	grid-row: span 2;
}

.footer{
	background: #ACC7CA;
	grid-column: span 3;
}