
.main{
	background-color:lightgrey;
	width: 100%;
	border-radius: 20px;
	height: 900px;
}
.radio{
	display: none;
}
.radiofake{
	display: inline-block;
	width: 380px;
	line-height:150px;
	text-align: center;
	margin: 20px 0px 0px 20px;

	color: white;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;

	background-color:#3399FF;
	box-shadow: 0px 8px 1px #66B2FF;	
	
	border-radius: 4px;

	position: relative;
	cursor: pointer;
	top: 0;
	transition: all 200ms ease-in-out;
}
.radiofake:hover{
	background-color: #FFFF99;
}
.radio:checked~ .block{
	transition: 100ms ease-in ;
	transform: scale(1);
}

.radio:checked~ .radiofake{
	top: 5px;
	box-shadow: 0px 3px 1px #040E14;
	background-color: #CCFFCC;
}



.block{
	line-height: 30px;
	width: 500px;
	padding: 10px;
	background-color: #00FF00;
	color: white;
	font-family: courier-new;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
	transform: scale(0);
	transition-duration: 100ms;
	left: 500px;
	
}
.block_1{
	position: absolute;
	top:  15px;

}
.block_2{
	position: absolute;
	
	top:190px;
}
.block_3{
	position: absolute;
	
	top: 350px;
}
.block_4{
	position: absolute;

	top: 520px;
}


.block_5{
	position: absolute;

	top: 700px;
}


